<h1>Book the best DJs in town</h1>

<h3>So you've made the smart decision to have Funxtable help you throw your party, <br>
  but first we need some info from you: <br><br></h3>
<%= render 'form' %>


<%= link_to 'Back', calendar_path %>
